<h4>{{ listTitle }}</h4>
@if (isPending) {
  <div class="loading"></div>
}
@for (order of orders; track order) {
  <div [ngClass]="['order', order.status ? order.status : '']">
    <address>
      {{ order.name }} <br />{{ order.address }} <br />{{ order.phone }}
    </address>
    <div class="items">
      <ul>
        @for (item of order.items; track item) {
          <li>{{ item.name }}</li>
        }
      </ul>
    </div>
    <div class="total">{{ order.items | itemTotal | currency }}</div>
    <div class="actions">
      <span class="badge">{{ statusTitle }}</span>
      @if (action) {
        <p class="action">
          Mark as:
          <a href="javascript://" (click)="markAs(order, action)">
            {{ actionTitle }}
          </a>
        </p>
      }
      <p class="action">
        <a href="javascript://" (click)="delete(order._id)">Delete</a>
      </p>
    </div>
  </div>
}

<div class="order empty">{{ emptyMessage }}</div>
